################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/.vs/server.slnx/FileContentIndex/1c9fca68-8ddc-4b56-a7db-ec3decb38e5c.vsidx
/server/.vs/server.slnx/FileContentIndex/3143e7ba-054b-4ba2-a6d9-8edd5955281a.vsidx
/server/.vs/server.slnx/FileContentIndex/5063f054-8a0d-4d0b-b583-ebcdb572de95.vsidx
/server/.vs/server.slnx/FileContentIndex/63bcb6b5-c284-4f4f-898e-026a01c4d238.vsidx
/server/.vs/server.slnx/FileContentIndex/ee47a865-a1f6-4b55-91b1-0d81a8ee54de.vsidx
/server/.vs/server.slnx/FileContentIndex/d6f401a4-7589-4d21-8454-3f4180cd9857.vsidx
/server/.vs/server.slnx/FileContentIndex/0d00ee68-7c34-40f2-978d-a7c78cc043c8.vsidx
/server/.vs/server.slnx/FileContentIndex/97208616-4bd7-44f9-8371-4936c6c40a48.vsidx
/server/.vs/server.slnx/FileContentIndex/414d1691-3db0-48e0-a2cc-b42e97bbea86.vsidx
/server/.vs/server.slnx/FileContentIndex/9b44aaae-4d09-4c21-abf7-398923bce026.vsidx
/server/.vs/server.slnx/FileContentIndex/a876082d-1bb3-40ef-8674-2f2483d1a0bd.vsidx
