################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/.vs/server.slnx/FileContentIndex/1c9fca68-8ddc-4b56-a7db-ec3decb38e5c.vsidx
/server/.vs/server.slnx/FileContentIndex/4a44a32f-28c7-4cf5-a43a-5a388768e3a6.vsidx
/server/.vs/server.slnx/FileContentIndex/92837629-9c74-45db-91d2-167718d725cd.vsidx
/server/.vs/server.slnx/FileContentIndex/c937a43e-ec30-4f97-a1b7-29f0fcb3e737.vsidx
