@charset "UTF-8";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
    background-color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 20px;
}

.ellp {
  font-family: 'Sniglet', cursive;
}

.placeholder {
  flex: 1;
}

.container{
    display: flex;
    flex-direction: row;
}