@charset "UTF-8";

body {
  margin: 0;
}

#root {
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

