@charset "UTF-8";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--blue3);
    color: var(--white);
    height: 50px;
}